<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color = "primary">
          <ion-avatar slot="start">
            <img src="{{photoURL}}">
          </ion-avatar>
          <p>{{displayName}}</p>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines = "none">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url"
            *ngIf="p.type == whoIsLoggedIn">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>