<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Support</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <p style="text-align:center; font-style:initial; color:whitesmoke">Support is only provided in English</p>
  <ion-item>
    <ion-label position="floating">complain type</ion-label>
    <ion-select [(ngModel)]="complain.title" (ionChange)="onChange(complain.title)">
      <ion-select-option value="chatapp Issue" checked="true">"chatapp Issue"</ion-select-option>
      <ion-select-option value="Negotiation Issues" checked="true">"Negotiation issues"</ion-select-option>
      <ion-select-option value="Connection Issues" checked="true">"Connection issues"</ion-select-option>
      <ion-select-option value="Others" checked="true">"Others"</ion-select-option>
    </ion-select>

  </ion-item>

  <ion-item>
    <!-- <ion-label position="floating">Description</ion-label> -->
    <ion-textarea rows="6" cols="20" placeholder="Enter complain description here..."
      [(ngModel)]="complain.description"></ion-textarea>
  </ion-item>

  <div class="profile-image">
    <img src="{{imgurl}}">
  </div>

  <div>
    <ion-button fill="outline" shape="round" (click)="chooseScreenshot()">Upload screenshot</ion-button>
  </div>

</ion-content>