<!-- <ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" required [(ngModel)]="customerUser.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Display Name</ion-label>
        <ion-input type="text" required [(ngModel)]="customerUser.displayName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required [(ngModel)]="customerUser.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required [(ngModel)]="customerUser.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="text" required [(ngModel)]="customerUser.phoneNumber"></ion-input>
      </ion-item>


      <ion-item>
        <ion-button (click)="customerReg()" fill="outline" expand="block">Register</ion-button>
      </ion-item>

      <ion-item>
        <p>Already have an account? Login <a (click)="backToLogin()">Here</a></p>
      </ion-item>
    </ion-card-content>

  </ion-card> -->

<!-- 
  <div id = "position">
    <ion-item>
      <p>Already have an account? Login <a (click)="backToLogin()">Here</a></p>
    </ion-item>
  </div> -->

<!-- </ion-content> -->
<ion-content color="secondary">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h3 style="font-family:cursive; font-style:inherit; font-size:20px;">Create Your account!</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" required [(ngModel)]="customerUser.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Display Name</ion-label>
            <ion-input type="text" required [(ngModel)]="customerUser.displayName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required [(ngModel)]="customerUser.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required [(ngModel)]="customerUser.password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="text" required [(ngModel)]="customerUser.phoneNumber"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button (click)="customerReg()" fill="solid" expand="block">Register</ion-button>
        </div>

        <ion-item>
          <p>Already have an account? Login <a (click)="backToLogin()">Here</a></p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>